section {
    width: 100vw;
}

section h1 {
    text-align: center;
    color: rgb(22, 71, 129);

    font-size: 35px;
}

section h4 {
    text-align: center;
    font-weight: 500;

    font-size: 20px;
}

.planos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 25px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.planos .card-plans {
    width: 300px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(22, 71, 129);

    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 600px) {
    .planos .card-plans {
        background-color: rgb(22, 71, 129);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        width: 200px;
        height: 80px;

        overflow-x: hidden;
        overflow-y: hidden;
    }

    .planos .card-plans p {
        font-size: 20px;
    }
}