.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
}

.foto {
    max-width: 350px;
    min-width: 50px;
    background-color: rgb(22, 71, 129);
    border-radius: 400px;
    margin-bottom: 25px;
}

.main h3 {
    color: rgb(22, 71, 129);
    font-size: xx-large;
    text-align: center;
}
