header {
  width: 100vw;
  height: 25vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: black;

  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;

  gap: 10px;
  
  color: #FFF;
  text-align: center;
}

.logo img {
  width: 60px;
}

.logo p{
  color: #FFF;
  font-size: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #FFF;
  text-align: center;

  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline 1px #FFF;
}

.menu-join {
  background-color: rgb(22, 71, 129);
}



@media (max-width: 600px) {
  header{
    width: 100vw;
    height: 35vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 25px;
  
    background-color: #000;
  
    margin-bottom: 20px;
  }  

  .logo img {
    width: 85px;
  }

  .logo p{
    color: #FFF;
    font-size: 30px;
  }

  .menu a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
  
    font-size: 25px;
  }

}