footer{
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 350px;

    background-color: black;
    
    flex-wrap: wrap;

    gap: 25px;
}

.footer-icon{
    width: 100px;
}

hr{
    display: block;
    width: 99%;
}

.footer-socialMedias {
    filter: invert(1);
    width: 50px;
    margin: 5px;
}

.footer-text p {
    display: block;
    width: 100%;
    color: white;
}

.footer-socialMedias-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}